<ion-header >
  <ion-navbar >
    <ion-title>
      QC INPUT APP
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <h3 class="topic">Quality Checker</h3> 
  <br>

  <div style="text-align:center;">

    <ion-grid>

      <ion-row>
  
          <ion-col>
            <button ion-button class="fail-button" (click)="failButton()">
              {{fail_count}} 
              <!-- <ion-icon name="star"></ion-icon> -->
              FAIL 
            </button>
          </ion-col>
  
          <ion-col>
  
            <button ion-button class="pass-button" (click)="passButton()">
              PASS 
              <!-- <ion-icon name="star"></ion-icon> -->
              {{pass_count}}
            </button>
            
          </ion-col>
          
      </ion-row>
  
    </ion-grid>

  </div>


</ion-content>
