page-home {

    .background{
        background: linear-gradient(to top, #47a7df 0%,#fff 100%);
    }

    .topic{
        text-align:center;
        font-size: x-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

    .img{
        background-image: url('../assets/imgs/img.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .pass-button{

        background-color:rgb(61, 221, 61);
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        width: 150px;
        height: 100px;
        border-radius: 10%;
        
    }

    .fail-button{

        background-color:rgba(224, 52, 46, 0.959);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        color: white;
        width: 150px;
        height: 100px;
        border-radius: 10%;
     
    }



}
