<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>OI APP</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p id="header">DATE: {{ date }}</p>
    <p id="timeHeader">TIME: {{ prevTime }} - {{ nextTime }}</p>
    <ion-card id="bar-card">
        <ion-card-header></ion-card-header>
        <ion-card-content id="chart-canvas">
            <canvas #barChartCanvasArea id="bar-canvas"></canvas>
        </ion-card-content>
    </ion-card>
    <br>
    <button id="refreshBtn" ion-button block small (click)="updateChart()">REFRESH</button>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <ion-card id="total">
                    <ion-card-header>
                        <p>COUNT</p>
                    </ion-card-header>
                    <ion-card-content>
                        <div>{{ total_count ? total_count : 0 }}</div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card id="defects">
                    <ion-card-header>
                        <p>DEFECTS</p>
                    </ion-card-header>
                    <ion-card-content>
                        <div>{{ defect_count ? defect_count : 0 }}</div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-card id="defects-ratio">
                <ion-card-header>
                    <p>DEFECT RATIO</p>
                </ion-card-header>
                <ion-card-content>
                    <div>{{ defect_ratio ? defect_ratio : 0 }}%</div>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
