page-home {
  #total, #defects, #defects-ratio {
    height: 150px;
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
  }

  .card-header p {
    color: whitesmoke;

  }

  #total div, #defects div, #defects-ratio div {
    font-weight: bold;
    font-size: 40px;
  }

  #header, #timeHeader {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
  }

  .scroll-content, #total, #defects, #defects-ratio {
    background-color: #515151;
  }

  #bar-canvas, #bar-card {
    background-color: #515151;
  }

  #refreshBtn {
    background-color: #515151;
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid whitesmoke;
    opacity: 0.6;
    width: 50%;
    margin: 0 auto;
  }
}
