<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>LATEST 100</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-top="50px">
    <div class="row header">
        <div class="col" style="width: 4%">#</div>
        <div class="col">ID</div>
        <div class="col">NAME</div>
        <div class="col">TIME</div>
    </div>
    <p id="nodata-line">
        {{ items? items.length === 0 ? "No Counts For Today" : null : null }}
    </p>
    <div class="row" *ngFor="let item of items;let i = index">
        <div class="col">{{ i + 1 }}</div>
        <div class="col">{{ item.id}}</div>
        <div class="col">{{ item.status | uppercase }}</div>
        <div class="col">
            {{
            ((item.hour >= 10) ? item.hour : "0" + item.hour) + ":" +
            ((item.min < 10) ? "0" + item.min : item.min) + "" + ((item.hour >= 12) ? "PM" : "AM")
            }}
        </div>
    </div>
</ion-content>
