page-list {
  .header .col {
    background-color:lightgrey;
  }

  #nodata-line {
    text-align: center;
    font-weight: bold;
  }

  .col {
    border: solid 1px lightgray;
    border-bottom-style: none;
    border-right-style: none;
  }

  .col:last-child {
    border-right: solid 1px lightgray;
  }

  .row:last-child .col {
    border-bottom: solid 1px lightgray;
  }

}
